.content {
    margin: auto;
    overflow: hidden;
    position: relative;
    height: 100%;
}
.content h2 {
    margin: 100px auto 60px;
    text-align: center;
}
.w-1200 {
    max-width: 1200px;
    width: 100%;
}
.show-panel {
    height: 600px;
    display: flex;
    justify-content: center;
}
.show-video {
    width: 960px;
    height: 545px;
    position: relative;
}
.show-video:hover .play-button {
    color: #fff;
    background: #666;
    cursor: pointer;
}
.play-button {
    width: 64px;
    height: 64px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: #fff;
    font-size: 24px;
    color: #666;
    align-self: center;
    border: 1px solid #666;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
.play-button i {
    margin-left: 8px;
}
.video .player {
    width: 100%;
    height: auto;
    max-height: 450px;
}
.video .modal-content {
    background: none;
    border: none;
}

.color {
    height: 350px;
    margin: 5px;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}
.color h3,.color p {
    color: #fff;
    position: absolute;
}
.color h3 {
    bottom: 50px;
    left: 40px;
    transition: bottom .5s ease 0s;
}
.color p {
    bottom: -50%;
    left: 40px;
    transition: bottom .5s ease 0s;
}
.color:hover {
    filter: grayscale(50%);
    border-top: 4px solid #008ed6;
}
.color:hover h3 {
    bottom: 220px;
}
.color:hover p {
    bottom: 80px;
}
.color-1 {
    background: #6cf;
}
.color-2 {
    background: #6fc;
}
.color-3 {
    background: #fc6;
}
.color-4 {
    background: #f6c;
}
.color-5 {
    background: #cf6;
}
.color-cell {
    position: relative;
}
.color-cell, .color-cell :last-child, .color-cell :first-child {
    height: 300px;
}
.color-cell:nth-of-type(odd)>:first-child {
    width: 50%;
    transform: skew(-30deg) translateX(-40%);
    z-index: 1;
    position: absolute;
}
.color-cell:nth-of-type(even)>:last-child {
    width: 50%;
    transform: skew(-30deg) translateX(140%);
    z-index: 1;
    position: absolute;
    top: 0;
}
.color-cell-1>:first-child{
    background: #6cf;
}
.color-cell-2>:last-child{
    background: #6fc;
}
.color-cell-3>:first-child{
    background: #fc6;
}
.color-cell-4>:last-child{
    background: #f6c;
}
.color-cell-5>:first-child{
    background: #cf6;
}


@media only screen and (min-width: 992px) {
    .trans-panel {
        height: 600px;
        color: gray;
        overflow: hidden;
        position: relative;
    }
    
    .block-left, .block-center, .block-right {
        transition: transform 1s ease 0s;
        width: 100%;
        height: 600px;
        position: absolute;
    }
    .block-left {
        background: #00D998;
        transform: skew(-60deg);
        left: -75%;
        z-index: 1;
    }
    .block-center {
        display: flex;
        justify-content: center;
        background: #BEFCAE;
    }
    .block-right {
        background: #52F7B2;
        transform: skew(-60deg);
        right: -75%;
        z-index: 1;
    }
    .block-left h2, .block-center h2, .block-right h2 {
        position: absolute;
        font-weight: 500;
        font-size: 40px;
        margin: 0;
    }
    .block-left h2 {
        transform: skew(60deg);
        right: 15%;
        top: 25%;
        transition: right 1s ease 0s
    }
    .block-center h2 {
        margin: 0;
        align-self: center;
    }
    .block-right h2 {
        transform: skew(60deg);
        left: 15%;
        bottom: 25%;
        transition: left 1s ease 0s
    }
    .block-left p, .block-center p, .block-right p {
        position: absolute;
        opacity: 0.8;
        font-size: 20px;
        font-weight: 400;
        text-align: center;
    }
    .block-left p {
        transform: skew(60deg);
        right: 60%;
        top: 35%;
        transition: right 1s ease 0s
    }
    .block-center p {
        top: -60px;
        left: 0;
        right: 0;
        transition: top 1s ease 0s
    }
    .block-right p {
        transform: skew(60deg);
        left: 60%;
        bottom: 32%;
        transition: left 1s ease 0s
    }
}

@media (max-width: 992px) {
    .block-left, .block-center, .block-right {
        width: 100%;
    }
}